<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的课程表</title>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">我的课程表</a>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">选择您的学校</h3>
            </div>
            <div class="panel-body">
                <a href="login?school=tsmc" class="list-group-item">泰山医学院</a>
                <br>
                <a href="login?school=sdau" class="list-group-item">山东农业大学</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-danger" role="alert">

            <h4 class="alert-heading">注意</h4>
            该课程表由爬虫生成，教务系统的格式常发生变化，可能会生成不准确的课表，本项目不保证爬取的信息准确无误，由此产生的问题本项目不负任何责任，请在对照教务系统确定信息无误后使用。<br />
        </div>
    </div>

    <div class="container">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">加入我们</h4>
            本项目旨在解决高校生对课程表的需求，如果您仅需要且仅需要课程表，请加入我们<br />
            <a href="https://t.me/joinchat/HhqPqxRn9gEP70ciAWaRng" class="alert-link">Telegram</a><br />
            <a href="https://github.com/lanthora/classtable-server" class="alert-link">服务端源码</a> 即该网站，爬取教务系统并返回所需json数据<br />
            <a href="https://github.com/lanthora/classtable-client" class="alert-link">客户端源码</a> 解析json数据并在微信小程序前端显示是<br />
        </div>
    </div>
</body>

</html>