<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的课程表</title>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">我的课程表</a>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">选择您的学校</h3>
            </div>
            <div class="panel-body">
                <a href="login?school=sdau" class="list-group-item">山东农业大学</a>
                <br>
                <a href="login?school=tsmc" class="list-group-item">泰山医学院</a>
                <br>
                <a href="login?school=bupt" class="list-group-item">北京邮电大学</a>
                <br>
                <a href="login?school=cupl" class="list-group-item">中国政法大学</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">注意</h4>
            课表由爬虫生成，教务系统的格式可能发生变化，
            因此不保证爬取的信息准确无误，请在对照教务系统确定信息无误后使用。
            <br />
            本项目仅保证不收集用户信息，但不对使用该项目引发的任何问题负责。
            <br />
            在存储空间不足时，小程序会释放长期未使用的存储空间，
            该小程序不访问网络，所有信息均保存在本地的长期存储空间，
            因此课程表长期不使用可能会丢失信息，建议自行保存本网站生成的数据，
            在数据丢失时可以快速恢复。
        </div>
    </div>

    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">源码</h4>
            <ul class="list-unstyled">
                <li><a href="https://github.com/lanthora/classtable-server" class="alert-link">服务端源码</a>
                    即该网站，爬取教务系统并返回所需json数据</li>
                <li><a href="https://github.com/lanthora/classtable-client" class="alert-link">客户端源码</a>
                    解析json数据并在微信小程序前端显示</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">其他</h4>
            <ul class="list-unstyled">
                <li><a href="https://t.me/joinchat/HhqPqxRn9gEP70ciAWaRng" class="alert-link">Telegram群</a></li>
            </ul>
        </div>
    </div>
</body>

</html>